<table class="tbl-boxed announcements-list">
    <caption class="visually-hidden">{{ trans('announcements.heading') }}</caption>
    <thead>
        <tr>
            <th scope="col" class="col-subject">{{ trans('announcements.heading') }}</th>
            <th scope="col" class="col-last">{{ trans('forum.col_last_post') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for thread in announcements.threads %}
            <tr class="announcements-row">
                <td class="col-subject">
                    <a href="{{ path('/forum/' ~ thread.forum_id ~ '/thread/' ~ thread.message_id) }}">
                        <i class="fa fa-info-circle"></i>{{- thread.subject -}}
                    </a>
                    {% if announcements.new_counts[thread.message_id] is defined %}
                        <span class="new-badge">{{ announcements.new_counts[thread.message_id] }} {{ trans('forum.new') }}</span>
                    {% endif %}
                </td>
                <td class="col-last">{{ thread.modifystamp|relative_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
