<div class="announcements-box" aria-labelledby="announcements-heading">
    <h2 id="announcements-heading" class="announcements-heading">{{ trans('announcements.heading') }}</h2>
    <ul class="announcements-list">
        {% for thread in announcements.threads %}
            <li class="announcements-item">
                <a href="{{ path('/forum/' ~ thread.forum_id ~ '/thread/' ~ thread.message_id) }}">
                    {{- thread.subject -}}
                </a>
                {% if announcements.new_counts[thread.message_id] is defined %}
                    <span class="new-badge">{{ announcements.new_counts[thread.message_id] }} {{ trans('forum.new') }}</span>
                {% endif %}
                <span class="announcements-date">{{ thread.modifystamp|relative_time }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
