{% extends 'base.html.twig' %}

{% block title %}{{ trans('auth.reset_title') }} &mdash; {{ site_name }}{% endblock %}

{% block content %}
<h1>{{ trans('auth.reset_title') }}</h1>

{% if invalid %}
    <p class="error" role="alert">{{ trans('auth.reset_invalid') }}</p>
    <p><a href="{{ path('/forgot-password') }}">{{ trans('auth.forgot_password') }}</a></p>
{% else %}
    {% include '_form_errors.html.twig' %}

    <form method="post" action="{{ path('/reset-password?token=' ~ (token|url_encode)) }}">
        {{ csrf_field() }}

        <div class="form-row">
            <label for="password">{{ trans('auth.reset_new_password') }}</label>
            <input type="password" id="password" name="password" required autofocus
                   minlength="6" autocomplete="new-password">
        </div>

        <div class="form-row">
            <label for="password2">{{ trans('auth.reset_confirm') }}</label>
            <input type="password" id="password2" name="password2" required
                   minlength="6" autocomplete="new-password">
        </div>

        <div class="form-row">
            <button type="submit">{{ trans('auth.reset_submit') }}</button>
        </div>
    </form>
{% endif %}
{% endblock %}
